.ConceptsGrid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 600;
    box-sizing: border-box;
    color: white;
    background-color: black;
    -webkit-transition: all .5s;
    transition: all .5s;

    &.GridClosed {
        transform: translateY(-100%);
    }

    &.GridOpened {
        transform: translateY(0%);
    }

    .ImageCover {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }

    .GridHeader {
        position: absolute;
        top: 0;
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid white;
        box-sizing: border-box;
        z-index: 2;

        .CloseButton {
            width: 75px;
            height: 75px;
            color: white;
            font-size: 28px;
            text-align: center;
            padding: 20px 0;
            box-sizing: border-box;
            transition: all .5s;

            &:hover {
                cursor: pointer;
                color: gray;
            }
        }
    }

    .CellContainer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: calc(100vh - 75px);
        z-index: 2;
        display: flex;
        box-sizing: border-box;
    }

    @media (min-width: 968px) {
        .CellContainer {
            padding: 40px;
        } 
    }
}
