.NavigationItems {
    height: 100%;
    margin: 0;
    padding: 0 10px; 
    display: flex;
    flex-flow: row;
    align-items: center;
    list-style: none;

    &.SideDrawer {
        padding: 0;
        flex-flow: column;
    }

    .NavigationControl {
        height: 50px;
        width: 100%;
        padding: 16px 8px;
        box-sizing: border-box;
        color: white;
        font-family: 'Permanent Marker', 'sans-serif';
        font-size: 12px;

        &:hover {
            cursor: pointer;
        }

        @media (min-width: 568px) {
            padding: 15px 10px;
            font-size: 16px;
        }

        @media (min-width: 768px) {
            height: 100%;
            width: auto;
        }
    }

    .Login {
        height: 50px;
        width: 50px;
        padding: 10px;
        box-sizing: border-box;

        &:hover {
            cursor: pointer;
        }

        img {
            height: 30px;
            width: 30px;
        }
    }
}